{% extends "layout.html" %}
{% block body %}


<div class="about_me">
  <div class="intro_photo">
    <img alt="photo portrait by Mariana Bocoi" src="/static/img/portrait.jpg"/>
    <span>Photo credit: Mariana Bocoi</span>
  </div>

  <div class="about_content">
	<div class="text-content">
	  Hej! My name is <b>Éléonore Mayola</b>.<br>
          I am a freelance developer who loves data visualisation and maps!<br><br>
          I'm a Biologist turned Developer.<br>
	  My experience spans full-stack web development and data science/engineering.<br>
	  I have worked with Python, Clojure, Javascript, HTML, CSS, APIs, AWS, SQL and no SQL, git, github.
	</div>
	<div class="social_buttons">
        <a href="http://uk.linkedin.com/in/eleonoremayola/" target="_blank">
	  <img src="/static/img/linkedin.png" border="0" alt="LinkedIn logo">
	</a>
        <a href="http://www.github.com/eleonore9" target="_blank">
	  <img src="/static/img/github.png" border="0" alt="Github logo">
	</a>
	<a href="http://twitter.com/EleonoreMayola" target="_blank">
	  <img src="/static/img/twitter.png" border="0" alt="Twitter logo">
	</a>
	</div>
  </div>

</div>

<div id="map"></map>

{% endblock %}
