{% extends "layout.html" %}
{% block body %}


<div class="about_me">
  <div class="introduction col-xl-8 offset-xl-2 col-lg-9 offset-lg-1 col-sm-12 col-12">

    <div class="intro_photo col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-sm-9 offset-sm-3 col-10 offset-1">
      <img alt=" my portrait photographed by Mariana Bocoi"
	   src="/static/img/portrait.jpg"/>
      </br><span>Photo credit: Mariana Bocoi</span>
    </div>

    <div class="about_content col-xl-8 offset-xl-4 col-lg-8 offset-lg-4 col-sm-12 col-12 offset-12">
      <h3>Hello! My name is <span>Éléonore Mayola</span>.</h3>
	<div class="text-content">
          I am a remote freelance programmer (based in Europe/UTC+1 timezone) who loves <b>data visualisation</b>, creative coding and art !<br><br>
          With a background in biomedical research, I learned the basic skills to transition into tech at a coding bootcamp.<br>
	  My seven years of tech experience spans full-stack <b>web development</b> and <b>data science/engineering</b>.<br>
          My tools of choice for data viz are Python, RAWGraphs, Canva or Flourish.<br>
	  I have worked with Python, Javascript, Clojure, Rust, HTML, CSS, APIs, AWS (EC2, S3, Redshift, Lambda), Google Cloud, SQL, Linux, git, Github/Gitlab.
	</div>
	<div class="social_buttons">
        <a href="http://uk.linkedin.com/in/eleonoremayola/" target="_blank" rel="noopener noreferrer">
	  <img src="/static/img/linkedin.png" border="0" alt="LinkedIn logo">
	</a>
        <a href="http://www.github.com/eleonore9" target="_blank" rel="noopener noreferrer">
	  <img src="/static/img/github.png" border="0" alt="Github logo">
	</a>
	</div>
    </div>
  </div>
</div>

{% endblock %}
