{% extends "layout.html" %}
{% block body %}


<div id="portfolio">
  <h3>Creative Data Viz</h3>
    <h4><b>Mini-zines</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h4>Data viz is magic!</h4>
	  <p>An introduction to data visualisation and sharing inspiring projects and resources</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/zines/dataviz-is-magic.png">
    </div>
    <div class="project_wrapper">
      <div class="project_info">
	<h4>A tour of data viz in Python</h4>
	<p>An overview of tools to visualise data using Python programming language</p>
      </div>
      <img alt="A tour of data viz in Python mini zine screenshot" src="/static/img/zines/tour-of-dataviz-python.png">
    </div>
  </div>

  <h4><b>Processing</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h4>Hours of daylight</h4>
	  <p>Bla bla bla</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/zines/dataviz-is-magic.png">
    </div>
    <div class="project_wrapper">
      <div class="project_info">
	<h4>Aux armes!</h4>
	<p>Bla bla bla</p>
      </div>
      <img alt="A tour of data viz in Python mini zine screenshot" src="/static/img/zines/tour-of-dataviz-python.png">
    </div>
  </div>

  <h4><b>Painting</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h4>Hours of daylight</h4>
	  <p>Bla bla bla</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/zines/dataviz-is-magic.png">
    </div>
  </div>
</div>

{% endblock %}
