{% extends "layout.html" %}
{% block body %}


<div id="dataviz">
  <h3>Creative Data Viz</h3>
    <h4><b>Mini-zines</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h5><b>Data viz is magic!</b></h5>
	  <p>An introduction to data visualisation and sharing inspiring projects and resources</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/dataviz/dataviz-is-magic2.png">
    </div>
    <div class="project_wrapper">
      <div class="project_info">
	<h5><b>A tour of data viz in Python</b></h5>
	<p>An overview of tools to visualise data using Python programming language</p>
      </div>
      <img alt="A tour of data viz in Python mini zine screenshot" src="/static/img/dataviz/tour-of-dataviz-python2.png">
    </div>
  </div>

  <h4><b>Processing</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h5><b>Hours of daylight</b></h5>
	  <p>Bla bla bla</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/dataviz/dataviz-is-magic2.png">
    </div>
    <div class="project_wrapper">
      <div class="project_info">
	<h5><b>Aux armes!</b></h5>
	<p>Bla bla bla</p>
      </div>
      <img alt="A tour of data viz in Python mini zine screenshot" src="/static/img/dataviz/tour-of-dataviz-python2.png">
    </div>
  </div>

  <h4><b>Painting</b></h4>
    <div class="projects">
      <div class="project_wrapper">
        <div class="project_info">
	  <h5><b>Hours of daylight</b></h5>
	  <p>Bla bla bla</p>
      </div>
      <img alt="Dataviz is magic mini zine screenshot" src="/static/img/dataviz/dataviz-is-magic2.png">
    </div>
  </div>
</div>

{% endblock %}
