{% extends "layout.html" %}
{% block body %}


<div class="hireme">
  <h3>
    <b>I'll eagerly help your team with a data or web related project!</b>
  </h3>
  <h4>If your project isn't defined, I'm happy to research, experiment or prototype</h4>
  <h4>Outside of tech I know about the academic (biomedical) research field and have basic GIS skills</h4>

  <h3>Below are projects I've work on</h3>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

</div>

<div id="map"></map>

{% endblock %}
