{% extends "layout.html" %}
{% block body %}


<div id="hireme">
  <div class="biz-intro col-md-6 offset-md-3">
    <h3>I'll eagerly help your team data or web projects!</h3>
    <h5>I'm happy to research, experiment and/or prototype</h5>
    <h5>Plus I know academic (biomedical) research and have GIS skills</h5>
  </div>

  <div class="services">
    <h3>Below are projects I've work on</h3>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseWeb" role="button" aria-expanded="false" aria-controls="collapseWeb">
    Web development
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseData" aria-expanded="false" aria-controls="collapseData">
    Data Sc./Eng.
    </button>
  </p>
  <div class="collapse" id="collapseWeb">
    <div class="card card-body">
      <h5>Front-end</h5>
	  <em><strong>Javascript/jQuery, HTML/CSS</strong></em> - <a href="https://github.com/Eleonore9/potion-frontend" target="_blank">Link</a> -  App that parses JSON data and presents it on a user interface (re-write with Angular.js in progress)
	  <h5>Back-end</h5>
	  <em><strong>Clojure, Cassandra</strong></em> - <a href="https://github.com/MastodonC/kixi.himinbjorg" target="_blank">Link</a> - Template web application to be used with Mastodon C Ltd’s authentication/authorisation microservice <br>
	  <em><strong>Clojure</strong></em> - <a href="https://github.com/Eleonore9/potion-making" target="_blank">Link</a> - App that parses data from a CSV and serves it as JSON through an API endpoints <br>
	  <em><strong>Python/Flask, Postgres and SQLAlchemy</strong></em> - <a href="https://github.com/Eleonore9/backend-ttt" target="_blank">Link</a> - Project for the backend of a game of tic tac toe
    </div>
  </div>
  <div class="collapse" id="collapseData">
    <div class="card card-body">
      <h5>Data engineering</h5>
	<em><strong>Clojure/Amazonica, AWS S3 </strong></em> - <a href="https://github.com/MastodonC/kixi.hecuba.minorca" target="_blank">Link</a> - Programme run as a cron job by a client of Mastodon C Ltd to load sensor measurements from files on AWS S3 onto a web platform via an API <br>
	<em><strong>Python, JSON</strong></em> - <a href="https://github.com/MastodonC/scripts-embed-api" target="_blank">Link</a> - Scripts for Mastodon C Ltd's data engineers to handle JSON data from/to an API and write CSV reports <br>
	<em><strong>Clojure, XML</strong></em> - <a href="https://github.com/Eleonore9/xml-to-model-structure" target="_blank">Link</a> - Programme for Mastodon C Ltd's data scientists to create a Clojure project structured to write predictive models from an XML diagram <br>
	<em><strong>Clojure, Leiningen</strong></em> - <a href="https://github.com/MastodonC/witan-model-template" target="_blank">Link</a> - Leiningen template to help create predictive models (used in the programme described above)<br>
	<h5>Data science</h5>
	<em><strong>Python, Gensim, Nltk</strong></em> - <a href="https://github.com/Eleonore9/get-articles-meaning" target="_blank">Link</a> - Classifier for scientific articles using topic modelling <br>
	<em><strong>Clojure, core.matrix </strong></em> - <a href="https://github.com/MastodonC/witan.models.demography" target="_blank">Link</a> - Population projections model using a Cohort Component method for Mastodon C’s city planning platform: <br>
	<em><strong>Clojure, core.matrix </strong></em> - <a href="https://github.com/MastodonC/witan.models.household" target="_blank">Link</a> - Dwellings projections model for MastodonC Ltd’s city planning platform <br>
	<em><strong>Clojure, core.matrix </strong></em> - <a href="https://github.com/MastodonC/witan.gwyn" target="_blank">Link</a> - Fire risks projections for commercial buildings delivered to a client of Mastodon C Ltd <br>
	<em><strong>Clojure, core.matrix </strong></em> - <a href="https://github.com/MastodonC/witan.send" target="_blank">Link</a> - Special Educational Needs and Disability demand and cost projections model delivered to a client of Mastodon C Ltd <br>
    </div>
  </div>
 </div>
</div>

{% endblock %}
