<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="I am a freelance developer and data scientist.">
    <meta name="author" content="Éléonore Mayola">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css">
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
    <script src="/static/js/map.js"></script>


    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">

    <title>Elle est au nord</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/css/ele.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cover.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  </head>

  <body onload="initmap();">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">

            <div class="inner">
              <ul class="nav masthead-nav">
		<li class="home"><a href="/">Home</a></li>
		<li class="biz"><a target="_blank" href="http://elle-est-au-nord.github.io/">Hire me</a></li>
		<li class="aboutme"><a href="{{url_for("aboutme")}}">About</a></li>
                <li class="portfolio"><a href="{{url_for("projects")}}">Portfolio</a></li>
                <li class="blog"><a target="_blank" href="http://eleonore9.github.io/">Blog</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
		{% block body %}{% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
            	<p>
		Copyright 2018 -*- Elle est au nord
		</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ele.js"></script>

  </body>
</html>
