<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="I am a freelance developer and data scientist.">
    <meta name="author" content="Éléonore Mayola">
    <link rel="shortcut icon" href="/static/img/favicon.png">



    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">

    <title>Elle est au nord</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/css/ele.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cover.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  </head>
  <body>

        <div class="container-fluid site-wrapper d-flex w-100 h-100 p-3">
      <!--<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">-->
          <div class="row site-body">

	    <nav class="navbar navbar-expand-lg navbar-light">
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggler">

		<ul class="nav mr-auto mt-2 mt-lg-0">
		  <li class="nav-item link-home">
		    <a href="{{url_for("index")}}">Home</a>
		  </li>
		  <li class="nav-item link-aboutme">
		    <a href="{{url_for("aboutme")}}">About me</a>
		  </li>
		  <li class="nav-item link-portfolio">
		    <a href="{{url_for("portfolio")}}">Portfolio</a>
		  </li>
		  <li class="nav-item link-blog">
		    <a target="_blank" href="http://eleonore9.github.io/">Blog</a>
		  </li>
		</ul>
	      </div>
	    </nav>

	    <div class="col-lg-10 offset-lg-5 col-md-11 offset-md-2 col-sm-11 col-11 cover">
		{% block body %}{% endblock %}
            </div>

          </div> <!-- row -->

          <footer class="mastfoot mt-auto">
            <div class="inner">
            	<p>
		Elle est au nord - © - 2020
		</p>
            </div>
          </footer>

	</div> <!-- container -->


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/ele.js"></script>

  </body>
</html>
