
{% extends "layout.html" %}
{% block body %}

<div class="portfolio">

  <div class="intro_personal_work">
    <h3>Dataviz developer</h3>
  </div>
  <div class="iframe-container">
    <iframe
      class="resp-iframe"
      id="portfolio-eean"
      title="dataviz portfolio"
      src="https://portfolio-eean.cargo.site/"
      >
    </iframe>
  </div>

  <div class="intro_client_work">
    <h3>Web developer & Data scientist</h3>
  </div>
  <div class="client-projects-container">
  <div class="projects client">
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Developer</span> @ OpenSanctions</h5>
	<p><span class="project">Update authentification service</span> and document the process.
        </p>
        <span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-info">React</span><span class="badge badge-info">Nextjs</span> <span class="badge badge-info">AuthJS</span> <span class="badge badge-light">TS</span> <span class="badge badge-primary">Auth0</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Digital Developer</span> @ Octophin digital</h5>
	<p><span class="project">Multiple projects</span>: ETL, improve data pipeline, add feature to website, pair programming.</p>
        <span class="badge badge-pill badge-dark">Data Science/Engineering</span><span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-info">Python</span><span class="badge badge-info">Flask</span> <span class="badge badge-info">PHP</span> <span class="badge badge-light">JS</span> <span class="badge badge-primary">Postgres</span> <span class="badge badge-primary">Docker</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Full-stack developer</span> @ Repositive.io</h5>
	<p><span class="project">Add features</span> to web platform for researchers to discover cancer models.</p>
        <span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-info">Rust</span> <span class="badge badge-light">React</span> <span class="badge badge-light">TS</span> <span class="badge badge-light">SCSS</span> <span class="badge badge-primary">Postgres</span> <span class="badge badge-primary">GCloud</span> <span class="badge badge-primary">Kubernetes</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Full-stack developer</span> @ HOTOSM</h5>
	<p><span class="project">App redesign</span> to improve usability & add features.</br>
         <a class="project_link" href="https://github.com/hotosm/MapCampaigner/" target="_blank" rel="noopener noreferrer"><b>Github repo</b></a>
        </p>
        <span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-info">Python</span><span class="badge badge-info">Flask</span> <span class="badge badge-light">JQuery</span> <span class="badge badge-light">HTML</span> <span class="badge badge-light">SASS</span> <span class="badge badge-primary">AWS Lambda</span> <span class="badge badge-primary">AWS S3</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Data Scientist</span> @ Eleven Pte Ltd</h5>
	<p><span class="project">Proof of concept</span> to extract data from PDF files for a startup automating accounting work.</p>
        <span class="badge badge-pill badge-dark">Data Science/Engineering</span><br>
        <span class="badge badge-info">Python</span> <span class="badge badge-primary">AWS Textract</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">GitLab</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Developer</span> @ Journalism++</h5>
	<p><span class="project">Multiple projects</span>: data analysis, HTML templates generation, web scraping, data pipelines, dashboard web app</p>
        <span class="badge badge-pill badge-secondary">Web Development</span> <span class="badge badge-pill badge-dark">Data Science/Engineering</span><br>
        <span class="badge badge-info">Python</span><span class="badge badge-info">Jupyter notebook</span><span class="badge badge-info">Pandas</span><span class="badge badge-info">Matplotlib</span> <span class="badge badge-info">Node.js</span> <span class="badge badge-primary">AWS Lambda</span> <span class="badge badge-primary">AWS SQS</span> <span class="badge badge-primary">AWS SNS</span> <span class="badge badge-light">Pug template</span> <span class="badge badge-light">React</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div> 
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">UI Developer</span> @ CamBioScience</h5>
	<p><span class="project">Network visualisation</span> dashboard to display and edit genes/proteins interactions for a science startup.</p>
        <span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-light">Clojurescript</span> <span class="badge badge-light">React</span><span class="badge badge-light">Re-Frame</span> <span class="badge badge-light">CSS</span> <span class="badge badge-primary">git</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Node.js Developer</span> @ InternetBarOrg</h5>
	<p><span class="project">ProTechMe</span> app to convert  chatbot conversations into a PDF document emailed to request a protective order.</br>
          <b><a class="project_link" href="https://github.com/TechForJustice/protechmepdfconversion" target="_blank" rel="noopener noreferrer">Github repo</a></b>
        </p>
        <span class="badge badge-pill badge-secondary">Web Development</span><br>
        <span class="badge badge-info">Node.js</span> <span class="badge badge-info">Motion.ai chatbot</span> <span class="badge badge-primary">git</span><span class="badge badge-primary">Github</span>
      </div>
    </div>
    <div class="project_wrapper color_bg">
      <div class="project_info">
	<h5><span class="work_title">Python Instructor</span> @ Journalism++</h5>
	<p><span class="project">Python course for journalists</span> instructor to support the main teacher with course material, teaching and students support.</p>
	<span class="badge badge-info">Python</span>
      </div>
    </div>
  </div>
  </div>

</div>

{% endblock %}
