/* -------------- AT THE TOP ------------- */
.title {
	/*border: 1px solid green;*/
	margin-top: 1%;
	margin-left: 30%;
}
.title img {
	width: 65%;
}
.short_intro {
	/*border: 1px solid red;*/
	color: #3F527C;
	margin-top: 1.5%;
	margin-left: 33%;
}
.name_intro {
	/*border: 1px solid red;*/
	color: #3F527C;
	margin-top: 1.5%;
	margin-left: 40%;
}


/* --------- COMPASS AND LINKS --------- */
.pages_links {
	padding: 1%;
	margin-top: 6%;
	background-color: #3F527C;
	opacity: 0.9;
}
.pages_links a {
	margin-left: 48%;
	box-shadow: 2px 2px 5px 5px;
	-webkit-box-shadow: 2px 2px 5px 5px;
	-moz-box-shadow: 2px 2px 5px 5px;
	-o-box-shadow: 2px 2px 5px 5px;
}
.pages_links a:hover {
	box-shadow: 2px 2px 10px 5px #8CCEBC;
	-webkit-box-shadow: 2px 2px 10px 5px #8CCEBC;
	-moz-box-shadow: 2px 2px 10px 5px #8CCEBC;
	-o-box-shadow: 2px 2px 10px 5px #8CCEBC;
}
.pages_links img {
	/*border: 1px solid grey;*/
	width: 30%;
	margin-left: 37%;
}


/* -------------- CONTENT ------------- */
body {
	background-image: url(/static/img/paper.png);
}
.follow_me {
	margin-top: 4%;
	margin-left: 12%;
}
.about_content {
	margin-top: 2%;
	margin-left: 40%;
}
.container {
	/*border: 1px solid blue;*/
}


/* ------------- WIDGETS ------------ */
.widget_twitter {
	/*border: 1px solid red;*/
	float: left;
	width: 40%;
}
.widget_pinterest {
	/*border: 1px solid red;*/
	margin-left: 10%;
	float: left;
	width: 40%;
}


/* ------------ BUTTONS ------------ */
.linkedin_button {
	margin-top: 1%;
	margin-left: 40%;
	float: left;
}
.btn_to_homepage {
	margin-top: 1%;
	margin-left: 5%;
	float: left;
}
.btn_to_homepage a {
	box-shadow: 2px 2px 5px 5px;
	-webkit-box-shadow: 2px 2px 5px 5px;
	-moz-box-shadow: 2px 2px 5px 5px;
	-o-box-shadow: 2px 2px 5px 5px;
}
.btn_to_homepage a:hover {
	box-shadow: 2px 2px 10px 5px #8CCEBC;
	-webkit-box-shadow: 2px 2px 10px 5px #8CCEBC;
	-moz-box-shadow: 2px 2px 10px 5px #8CCEBC;
	-o-box-shadow: 2px 2px 10px 5px #8CCEBC;
}
.link_about {
	padding: 1%;
}
.link_projects {
	padding: 1%;
}

/* ----------- FOOTER ------------ */
.footer {
	padding: 5px;
	margin-top: 25%;
	margin-left: 45%;
	clear: both;
}