{% extends "layout.html" %}
{% block body %}


<div class="about_me">
  <div class="name_intro">
	<h3>About me</h3>
  </div>

  <!-- blabla about me -->
  <div class="about_content">
		<p>
			I'm a Biologist turned Developer! <br>
			Not a ninja or a rockstar.<br>
			I think and make things.<br>
			I love solving problems and learning new technologies!<br><br>
			I speak French, English, Python and Clojure.<br>
	                I can wrangle data using APIs, AWS, SQL/C*, Spark,<br>
			Python and Clojure scientific tools, geo tools and D3js.<br>
			In Git I trust =)
		</p><br>
  </div>

  <!-- Link to my LinkedIn profile with LinkedIn button -->
  <div class="social_buttons">
                <a href="http://uk.linkedin.com/in/eleonoremayola/" target="_blank">
		  <img src="/static/img/linkedin.png" border="0" alt="LinkedIn logo">
		</a>
                <a href="http://www.github.com/eleonore9" target="_blank">
		  <img src="/static/img/github.png" border="0" alt="Github logo">
		</a>
		<a href="http://twitter.com/EleonoreMayola" target="_blank">
		  <img src="/static/img/twitter.png" border="0" alt="Twitter logo">
		</a>
  </div>
</div>

<div id="map"></map>

{% endblock %}
