{% extends "layout.html" %}
{% block body %}

<div class="name_intro">
	<h3>About me</h3>
</div>

<!-- blabla about me -->
<div class="about_content">
		<p>
			I'm a Biologist turned Developer! <br>
			Not a ninja or a rockstar.<br>
			I think and make things.<br> 
			I love solving problems and learning new technologies.<br><br>
			I speak French, English, Python, Clojure and SQL.<br>
	                Have knowledge of JS (jQuery, D3, Leaflet) and CQL.<br>
	                Learning more data magic with Python, Clojure and now R!
		</p><br>
</div>

<!-- Link to my LinkedIn profile with LinkedIn button -->
<div class="social_buttons">
                <a href="http://fr.linkedin.com/in/eleonoremayola/" target="_blank">
		  <img src="/static/img/linkedin.png" border="0" alt="LinkedIn logo">
		</a>
                <a href="http://www.github.com/eleonore9" target="_blank">
		  <img src="/static/img/GitHub.png" border="0" alt="Github logo">
		</a>
		<a href="http://twitter.com/EleonoreMayola" target="_blank">
		  <img src="/static/img/twitter.png" border="0" alt="Twitter logo">
		</a>
</div>

<div id="map"></map>

{% endblock %}
