{% extends "layout.html" %}
{% block body %}

<div class="title">
	<img src="/static/img/banner2.gif">
</div>

<div class="short_intro">
	<h3>[E-L-E-O-N-O-R-E]</h3>
</div>

<div class="about_content">
	<div class="container">
		<h5>
			I don't live north, though I visited several Scandinavian countries. <br>
			"Elle est au nord" sounds just like my firstname. <br>And it was a teacher's joke on a field trip.
			<br><br>  * * *  * * *  * * * <br><br>
			I'm a Biologist turned Developer! <br><br>
			Not a ninja or a rockstar.<br>
			I think and make things.<br> 
			I love solving problems and am detail-oriented.<br>
		</h5><br>
		
	</div>
</div>

<div class="linkedin_button">
		<a href="http://fr.linkedin.com/in/eleonoremayola">
		  
			  <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Eléonore Mayola's profile on LinkedIn">
		</a>
</div>

<div class="btn_to_homepage">
	<a href="{{url_for("index")}}" class="btn">Back to homepage</a>
</div>

<div class="footer">
	<p>
		Copyright 2013 - <a href="https://twitter.com/eleonoremayola">Eleonore</a>
	</p>
	<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</div>

{% endblock %}