{% extends "layout.html" %}
{% block body %}

<div class="title">
	<img src="/static/img/banner2.gif"  alt="banner title">
</div>

<!-- Short personal introduction -->
<div class="short_intro">
	<h3>Learner. Dreamer. (Dark) chocolate addict!</h3>
</div>

<!-- Links to other pages -->
<div class="pages_links">
	<div class="link_about">
		<!--<a href="{{url_for("aboutme")}}" class="btn">About me</a>-->
		<a href="{{url_for("aboutme")}}" class="north_link"><h4>About me</h4></a>
	</div>
		<img src="/static/img/compass2.gif" alt="compass logo">	
	<div class="link_projects">
		<!--<a href="{{url_for("projects")}}" class="btn">Portfolio</a>-->
		<a href="{{url_for("projects")}}" class="south_link"><h4>Portfolio</h4></a>
	</div>
</div>

{% endblock %}
