{% extends "layout_new.html" %}
{% block body %}

<!--<div id="map"></map>-->

<div id="compass">
  
  <h1 class="cover-heading"></h1>
  
  <p class="lead">Learner. Dreamer. (Dark) chocolate addict!</p>
  <p class="lead main">Python & Clojure developer. Data wrangler.</p>
  <p class="lead"></p>
  <p class="lead">
    <a href="{{url_for("aboutme")}}" class="btn btn-lg btn-default">About me</a>  
    <a href="{{url_for("projects")}}" class="btn btn-lg btn-default">Portfolio</a>  
  </p>
  
</div>
{% endblock %}
