<!DOCTYPE html>
<html lang="en" manifest="elleestaunord.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="I am a programmer and data scientist.">
    <meta name="author" content="Éléonore Mayola">
    <link rel="shortcut icon" href="/static/img/favicon_r.png">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
 

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">

    <title>Elle est au nord.</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/ele.css" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
    <!-- code for Google Analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43879759-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

  </head>

  <body onload="initmap();">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
	  
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Éléonore</h3>
              <ul class="nav masthead-nav">
                <li class="home"><a href="/">Home</a></li>
                <li class="portfolio"><a href="{{url_for("projects")}}">Portfolio</a></li>
                <li class="aboutme"><a href="{{url_for("aboutme")}}">About me</a></li>
              </ul>
            </div>
          </div>
	  <div class="title">
	    <img src="/static/img/banner2.gif"  alt="banner title">
          </div>
	  
          <div class="inner cover">
	    
		{% block body %}{% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
            	<p>
		Copyright 2015 - <a href="https://twitter.com/eleonoremayola/" target="_blank">Eleonore</a> B-)
		</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/ele.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>


