<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Hi there! I am a programmer and data scientist.">
    <meta name="author" content="Éléonore Mayola">
    <link rel="shortcut icon" href="/static/img/favicon_r.png">
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css">
    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />-->
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
    <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>-->
    <script src="/static/js/map.js"></script>


    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">

    <title>Éléonore</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/ele.css" type="text/css">


  </head>

  <body onload="initmap();">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Éléonore</h3>
              <ul class="nav masthead-nav">
                <li class="home"><a href="/">Home</a></li>
                <li class="portfolio"><a href="{{url_for("projects")}}">Portfolio</a></li>
                <li class="aboutme"><a href="{{url_for("aboutme")}}">About me</a></li>
              </ul>
            </div>
          </div>
	  <div class="title">
	    <img src="/static/img/banner.gif"  alt="banner title">
          </div>

          <div class="inner cover">

		{% block body %}{% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
            	<p>
		Copyright 2016 - <a href="https://twitter.com/eleonoremayola/" target="_blank">Eleonore</a> B-)
		</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ele.js"></script>

  </body>
</html>
