{% extends "layout.html" %}
{% block body %}

<div class="title">
	<img src="/static/img/banner2.gif" alt="banner title">
</div>

<div class="name_intro">
	<h3>Portfolio</h3>
</div>

<!-- Links to my Github and Bitbucket repositories -->
<div class="about_content">
	<!-- <div class="container"> -->
		<h5>
			Find my code repos on <a href="https://github.com/Eleonore9" class="btn">Github</a> 
			and <a href="https://bitbucket.org/eleonore9" class="btn">Bitbucket</a>.<br>
			My "one drawing/painting a day for 30 days" challenge is on 
			<a href="http://drawingpaintaday.tumblr.com/" class="btn">tumblr</a>.

		</h5><br>
		
	<!-- </div> -->
</div>

<div class="portfolio">
	<div class="elleestaunord">
		<div class="left">
			<h4>Elle-est-au-nord.</h4>
			<p> This website is made with Python/Flask, HTML, CSS and JS</p>
			<p>Github repo :<a href="https://github.com/Eleonore9/Elle-est-au-nord">
				github.com/Eleonore9/Elle-est-au-nord</a>.
			</p>
		</div>
		<div class="right">
			<iframe src="{{url_for('index')}}"></iframe>
		</div>
	</div>
	<div class="medium">
		<div class="left">
			<h4>Medium</h4>
			<p> It is a one page app that gives predictions! </p>
			<p> It is full of jQuery and CSS. Its backend is Python/Flask.</p>
			<p>Github repo :<a href="https://github.com/Eleonore9/Medium">
				github.com/Eleonore9/Medium</a>.
			</p>
		</div>
		<div class= "right">
			<iframe src="http://mediumapp.herokuapp.com/"></iframe>
		</div>
	</div>
</div>

<div class="footer">
	<p>
		Copyright 2013 - <a href="https://twitter.com/eleonoremayola">Eleonore</a>
	</p>
	<!-- <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script> -->
</div>

{% endblock %}
