/* Background */
.site-wrapper {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url("../img/blue_background.png");
}

.site-body {
    flex: 1;
}


#map {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:100%;
    opacity: 0.4;
    z-index: -1;
}

/* Changes to the bootstrap cover style */
.btn-default {
	opacity: 0.7;
}
.btn-default:hover {
	opacity: 1;
}

/* INDEX page */
#compass {
    text-align: center;
    width: 90%;
}

#compass img {
    overflow: hidden;
    transition-duration: 0.7s;
    transition-property: transform;
}
#compass img:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#compass h1 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    font-weight: bold;
}

#compass .cover-heading {
    position: relative;
    margin-top: -42%;
    text-shadow: 1px 1px 2px grey, 0 0 1em white;
}

#compass .lead {
    text-align: center;
    max-width: 70%;
    position: relative;
    margin-top: 15%;
    margin-left: 15%;
    font-size: 34px;
    font-weight: bold;
    font-family: monospace;
}


/* PROJECTS page */
.portfolio {
    display: inline;
}

.portfolio h3 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.intro_client_work {
    background: linear-gradient(to bottom right, rgba(41, 128, 185, .5), rgba(22, 160, 133, .5));
    padding: .5% 1% .5% 1%;
}
.intro_client_work:hover {
    background-color: rgba(0, 0, 0, .2);
}


.intro_personal_work {
    background: linear-gradient(to bottom right, rgba(250, 92, 72, .5), rgba(250, 154, 72, .5));
    padding: 1% 1% .5% 1%;
}
.intro_personal_work:hover {
    background-color: rgba(0, 0, 0, .2);
}

.client-projects-container {
    width: 100%;
    margin-bottom: 2%;
}

.projects {
    clear: both;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    border-radius: 4px;
}
.projects.client {
    align-items: stretch;
    justify-content: start;
}

.project_wrapper {
    flex: auto;
    position: relative;
    display: flex;
    width: 30%;
    margin: 0 .5% .5% 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}
.client .project_wrapper {
    flex-direction: column;
}
.client .project_wrapper.color_bg {
    height: 200px;
}

.client .project_wrapper:nth-child(1n) {
    background-color: rgba(114, 159, 207, .8);
}
.client .project_wrapper:nth-child(2n) {
    background-color: rgba(41, 128, 185, .8);
}
.client .project_wrapper:nth-child(3) {
    background-color: rgba(22, 160, 133, .8);
}
.client .project_wrapper:nth-child(4n) {
    background-color: rgba(51, 102, 204, .7);
}

.client .project_link {
    color: rgb(22, 160, 133);
} 
.client .project_link:hover {
    color: rgb(22, 160, 133);
    text-decoration: underline rgb(22, 160, 133);
}

.projects img {
    max-width: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.project_info {
    padding: 2.5%;
    z-index: 10;
    background: rgba(0, 0, 0, .6);
}
.client .project_info {
    width: 100%;
}

.perso .project_info {
    width: 100%;
    height: auto;
}

.project_info:hover {
    background: rgba(0, 0, 0, .3);
}

.project_wrapper.color_bg .project_info {
    background: rgba(0, 0, 0, .6);
}
.project_wrapper.color_bg .project_info:hover {
    background: rgba(0, 0, 0, .3);
}

.project_info .tech {
    color: #16a085;
    font-weight: bold;
}

.client .project_info .project {
    color: #2980b9;
    font-weight: bold;
}

.project_info p {
    font-size: 15px;
    margin-bottom: 0;
}

.work_title {
    font-family: monospace;
    font-weight: bold;
}

.iframe-container {
    position: relative;
    height: 700px;
    width: 100%;
    margin-bottom: 2%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom:
    right: 0;
    width: 100%;
    height: 100%;
}

/* ABOUT ME page */
.about_me {
    height: 55%;
}
.about_me h3 {
    font-weight: bold;
}
.about_me h3 span {
    background-color: rgba(22, 160, 133, 0.75);
}

.about_me .introduction {
    margin-top: 8%;
    background-color: rgba(114, 159, 207, 0.8);
    padding: 2%;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
.about_me .intro_photo {
    flex: auto;
    position: relative;
    display: inline-block;
}
.about_me .intro_photo img {
    width: 77%;
    opacity: 1;
    border-radius: 4px;
}
.about_me .about_content {
    display: inline-block;
    margin-top: -42%;
    text-align: justify;
    text-justify: inter-word;
}
.about_me .text-content{
    flex: auto;
    position: relative;
    display: inline-block;
    margin-top: 7%;
    font-size: 18px;
}
.about_me .social_buttons {
    flex: auto;
    position: relative;
    display: inline-block;
    margin-top: 7.5%;
}
.about_me .social_buttons img {
    width: 30px;
}
.about_me .social_buttons a:hover {
    text-decoration: none;
}
.about_me .intro_photo span {
    text-align: left;
    font-size: 9.5px;
}


/* Responsive breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 559.98px) {
    #compass img {
        width: 60%;
    }
    nav .navbar-toggler {
	background-color: rgba(51, 102, 204, 0.5) !important;
    }
    .about_me .intro_photo img {
	margin-top: 10%;
	max-width: 180px;
    }
    .about_me .about_content {
	text-justify: none;
	margin-top: 12%;
    }
    .portfolio .projects {
	overflow: hidden visible;
    }
    .portfolio .project_wrapper {
	width: 80%;
	margin-bottom: 5%;
    }
    .portfolio .project_info {
	margin: 0;
    }
    .column_left {
        width: 50%;
    }
    .column_right {
        width: 50%;
    }
}
/* Small-ish */
@media (min-width: 560px) and (max-width: 767.98px) {
    #compass img {
        width: 70%;
    }
    nav .navbar-toggler {
	background-color: rgba(51, 102, 204, 0.5) !important;
    }
    .about_me .intro_photo img {
	width: 60%;
	margin: 10% 35% 0 0;
    }
    .about_me .intro_photo span {
	margin-right: 35%;
    }
    .about_me .about_content {
	text-justify: none;
	margin-top: 12%;
    }
    .portfolio .project_wrapper {
	width: 60%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #compass img {
        width: 80%;
    }
    nav {
        margin-top: 5%;
    }
    nav .navbar-toggler {
	background-color: rgba(51, 102, 204, 0.5) !important;
    }
    .about_me .intro_photo img {
	margin: 10% 33% 0 0;
	max-width: 200px;
    }
    .about_me .intro_photo span {
	margin-right: 34%;
    }
    .about_me .about_content {
	text-justify: none;
	margin-top: 8%;
    }
    .portfolio .project_wrapper {
	min-width: 55%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #compass img {
        width: 90%;
    }
    nav {
        margin-top: 5%;
    }
    .about_me .intro_photo img {
	width: 100%;
    }
    .about_me .about_content {
	text-justify: none;
	margin-top: -52.7%
    }
    .portfolio .project_wrapper {
	min-width: 45%;
    }
}

/* Larger devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    nav {
        margin-top: 5%;
    }
    .about_me .intro_photo img {
	width: 100%;
    }
    .about_me .about_content {
	text-justify: none;
	margin-top: -52.7%
    }
    .portfolio .project_wrapper {
	min-width: 35%;
    }
}
